:root {
  --lightGrayishBlue: #ecf2f8;
  --lightGrayishBlue50: #ecf2f880;
  --lightGrayishBlue70: #ecf2f8b3;
  --lightGray: #cfcfcf;
  --moderateViolet: #7541c8;
  --veryDarkGrayishBlue: #48556a;
  --veryDarkGrayishBlue50: #48556a80;
  --veryDarkGrayishBlue70: #48556ab3;
  --veryDarkBlackishBlue: #19212e;
}
body {
  margin: 0;
  padding: 0;
  font-family: 'Bai Jamjuree', sans-serif;
  font-size: 13px;
  background-color:var(--lightGrayishBlue);

}

h1, 
h2, 
h3, 
h4, 
h5, 
h6 {
  margin:0; 
  padding: 0
}

.container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: 1fr 1fr;
  gap: 20px;
  width: 90%;
  margin: 10% auto;
}

.grid-item {
  border-radius: 5px;
  background-color: var(--lightGray);
  padding: 20px;
  color: var(--lightGrayishBlue);
}

.bg-pattern-quotation {
  grid-area: 1 / 3 / 2 / 4
}

.profile {
  display: grid;
  grid-template-columns: 80px 3fr;
  grid-template-rows: 1fr 2fr;
  margin-bottom: 20px
}
.profile-img {
  border-radius: 50%;
  border: 2px solid #ffffff;
  grid-row: span 2;
}

.name {
  font-weight: 600;
}

.status {
  font-weight: 500;
  color: var(--lightGrayishBlue50);
}

.description {
  font-weight: 600;
}

.testimonial {
  color: var(--lightGrayishBlue70);
}

.violet {
  background-color: var(--moderateViolet);
  grid-column: span 2
}

.light-gray {
  background-color: var(--veryDarkGrayishBlue);
}

.white {
  background-color: #ffffff;
  color: var(--veryDarkGrayishBlue);
}

/* .white p, .white div {
  color: var(--veryDarkGrayishBlue70);
} */

.white div.status {
  color: var(--veryDarkGrayishBlue50);
}

.white p {
  color: var(--veryDarkGrayishBlue70);
}

.long {
  grid-area: 1 / 4 / 3 / 5; /* grid-row-start / grid-column-start / grid-row-end / grid-column-end */
}

.black {
  background-color: var(--veryDarkBlackishBlue);
  grid-column: span 2;
}




.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}

@media (min-width: 200px) and (max-width: 900px) {
  .container {
    display: flex;
    flex-direction: column;
  }
}